@charset "UTF-8";

/*メインの設定*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    height: 100%;
    width:100%
}
footer{
    text-align:center;
    padding-bottom:50px;
    color:navy;
}

/*aタグの設定*/
a{
    margin-right:20px;
}
a:link{
    text-decoration:none;
}
a:hover{
    border-bottom: solid 3px #fff;
}

/*文字サイズと余白*/
h3{
    font-size: 30px;
    padding-top:50px;
}
h4{
    font-size:20px;
    padding-top:50px;
}
.jpsize3{
    font-size:25px;
    margin-top:30px;
    padding-bottom: 20px;
    font-weight:bold;
}
.jpsize4{
    font-size:18px;
    padding-top:50px;
    font-weight:bold;  
}
.jpsize5{
    font-size:16px;
    padding-top:20px; 
}

/*スライド上の文字設定*/
.slide div.text{
    position: absolute;
    width: 100%;
    left: 0; 
    top: 45%; 
    text-align: center; 
    color: white; 
    text-shadow: -1px -2px 3px #808080;
    font-weight: bold; 
    font-size: 50px;
    line-height: 50px;
}
.link{
    color: #fff;
    display:inline-block;
    padding-top:80px;
}

/*各項目の位置設定*/
.set1{
    width: 100%;
    height: 800px;
    margin-top:100px;
    text-align: center; 
    position: relative;
    color:navy;
}
.set2{
    width: 100%;
    height: 1300px;
    margin-top:100px;
    text-align: center; 
    position: relative;
    color:navy;
}
.set3{
    width: 100%;
    height: 1400px;
    margin-top:100px;
    text-align: center; 
    position: relative;
    color:navy;
}
.set4{
    width: 100%;
    height: 700px;
    margin-top:100px;
    text-align: center; 
    position: relative;
    color:navy;
}

/*各項目のメイン画像設定*/
.title{
    padding-top:10px;
    padding-bottom:50px;
    font-size:50px;
}
.logos{
    font-size: 200px;
    padding-top:10px;
}
.to{
    text-align: center;
    text-indent:10px;
    padding-bottom:10px;
}

/*各項目内のリンク設定*/
.links{
    padding-top: 20px;
    font-size:30px;
    color:navy;
}
.links2{
    font-size:25px;
    color:navy;
}
.links:hover{
    color:rgba(77, 80, 162, 0.667);
}
.links2:hover{
    color:rgba(77, 80, 162, 0.667);
}

/*ページトップに戻るボタンの設定*/
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: navy;
    opacity: 0.6;
    border-radius: 50%;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }







